### Regras de Associação

In [14]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df_data = pd.read_csv('../../0_datasets/clustering/dados-padaria.csv', sep=',', header=0)
df_data.head()

   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

In [15]:
transacao = []

for item in df_data['TransactionNo'].unique():
    lista = list(set(df_data[df_data['TransactionNo'] == item]['Items']))
    transacao.append(lista)

transacao[:5]

[['Bread'],
 ['Scandinavian'],
 ['Cookies', 'Hot chocolate', 'Jam'],
 ['Muffin'],
 ['Pastry', 'Coffee', 'Bread']]

In [16]:
te = TransactionEncoder()
te_ary = te.fit(transacao).transform(transacao)
df = pd.DataFrame(te_ary, columns=te.columns_)

itens_frequentes = apriori(df, min_support=0.01, use_colnames=True)
itens_frequentes.sort_values(by='support', ascending=False)

     support               itemsets
6   0.478394               (Coffee)
2   0.327205                (Bread)
26  0.142631                  (Tea)
4   0.103856                 (Cake)
34  0.090016        (Coffee, Bread)
..       ...                    ...
11  0.010565    (Hearty & Seasonal)
20  0.010460                (Salad)
30  0.010354     (Alfajores, Bread)
58  0.010037  (Coffee, Bread, Cake)
60  0.010037    (Tea, Coffee, Cake)

[61 rows x 2 columns]

In [17]:
regras_apriori = association_rules(itens_frequentes, metric="confidence", min_threshold=0.5)
regras_apriori.sort_values(by='confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
10,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582,0.332006
9,(Spanish Brunch),(Coffee),0.018172,0.478394,0.010882,0.598837,1.251766,0.002189,1.300235,0.204851
5,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871,0.170091
6,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682,0.146161
0,(Alfajores),(Coffee),0.036344,0.478394,0.019651,0.540698,1.130235,0.002264,1.135648,0.119574
4,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919,0.108738
7,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384,0.109205
1,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
8,(Scone),(Coffee),0.034548,0.478394,0.018067,0.522936,1.093107,0.001539,1.093366,0.088224
2,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174,0.081700
3,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553,0.060403