## Exemplo de Features e Labels

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# supress warnings
import warnings

from sqlalchemy import create_engine
warnings.filterwarnings("ignore")


pg_host = 'localhost'
pg_port = 15432
pg_user = 'postgres'
pg_pass = 'postgres'
SEED = 20
np.random.seed(SEED)

engine = create_engine(f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/postgres')

df_data = pd.read_sql_table('vendas_carros', engine)
df_data.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo
0   30941.02        0               24  35085.22134      31
1   40557.96        0               26  12622.05362      33
2   89627.50        1               18  11440.79806      22
3   95276.14        1                9  43167.32682      14
4  117384.68        0               10  12770.11290      16

# Análises exploratórias possíveis.

- Distribuição entre anos.
- Distribuição entr modelos. Gráfico de barras.